@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playpen+Sans:wght@100;200&family=Roboto:wght@300&display=swap');

body{
    /* background-color: gray; */
    background-image: url(https://i.pinimg.com/originals/a8/49/9f/a8499f478d77ccff8688b7460c42a308.jpg);
}
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bebas+system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
 }

 .logo{
    font-size: 35px;
    color: greenyellow;
    text-decoration: none;
    font-weight: 700;
 }

 .navbar a {
    position: relative;
    font-size: 20px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
 }

 .navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: .3s;
 }

 .navbar a:hover::before {
    width: 100%;
 }